---
layout: base.njk
---

<h3>Breadcrumbs</h3>
{% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb("Article", { includeSelf: true }) %}

{% include 'breadcrumbs.njk' %}

<article>

  <header>
    <h1>{{ title }}</h1>
    <p>Published on {{ page.date.toDateString() }}</p>
  </header>

  {{ content | safe }}

</article>