{% set navPages = collections.all | eleventyNavigation %}
{% set baseUrl = page.url | baseUrl %}

<nav id="navbar">
  <ul>
  {% for item in navPages %}
    <li
      {% if (item.url == page.url) or (item.url == baseUrl) %}
        class="active"
        aria-current="page"
      {% endif %}
    >
      <a href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>