---
layout: page.njk
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
pagination:
  data: collections.blog
  size: 2
  alias: posts
---

{% if pagination.pageNumber < 1 %}
  
  <h2 class="italic mb-5">
    <span class="font-extrabold">Featured</span> 
    Articles
  </h2>

  <div class="bg-neutral-50 p-8 mb-10">

    <div class="grid grid-cols-2 gap-x-8">
      {% for post in collections.blogFeatured | reverse %}
      <article>
        <h2 class="text-3xl">{{ post.data.title }}</h2>
        <p class="text-xs my-2 text-neutral-500">{{ post.date | luxonDate }}</p>
        <p class="mb-2">{{ post.data.summary }}</p>
        <a href="{{ post.url }}" class="italic hover:text-sky-600">
          Read More
        </a>
      </article>
    {% endfor %}
    </div>

  </div>

  <h2 class="italic">
    <span class="font-extrabold">Recent</span> 
    Articles
  </h2>
  <hr class="mt-3 mb-8" />

{% endif %}

{% for post in posts | reverse %}
<article class="my-5">
  <h2 class="text-3xl">{{ post.data.title }}</h2>
  <p class="text-xs my-2 text-neutral-500">{{ post.date | luxonDate }}</p>
  <p class="mb-2">{{ post.data.summary }}</p>
  <a href="{{ post.url }}" class="italic hover:text-sky-600">
    Read More
  </a>
</article>
{% endfor %}

<hr class="my-5" />

<ul class="flex space-x-3">

  {% if pagination.href.next %}
    <li class="hover:text-sky-600">
      <a href="{{pagination.href.next}}">
        Next Page
      </a>
    <li>
  {% endif %}

  {% for item in pagination.pages %}
    <li
      {% if page.url == pagination.hrefs[ loop.index0 ] %}
        class="active text-sky-600"
        aria-current="page"
      {% endif %}
    >
      <a href="{{ pagination.hrefs[ loop.index0 ] }}" class="hover:text-sky-600">
        {{ loop.index }}
      </a>
    </li>
  {% endfor %}

  {% if pagination.href.previous %}
    <li class="hover:text-sky-600">
      <a href="{{pagination.href.previous}}">
        Previous Page
      </a>
    </li>
  {% endif %}


</ul>